.work {
    display: flex;
    background-color: $primary;
    margin-bottom: 3rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.35);
}

.work__preview {
    width: 30rem;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.work__content {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    padding: 2.5rem;
}

.work__title {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    color: $white;
    font-weight: 500;
    a {
        color: inherit;
    }
}

.work__description {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: #D2D2D2;
    font-weight: 300;
    line-height: 1.6;
}

.work__footer {
    margin-top: auto;
    text-align: right;
}