<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="sidebar header">
    </div>

    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="https://via.placeholder.com/100" alt="profile img">
            <div class="profile__name">Salavat Fakhrutdinov</div>
            <div class="profile__prof">Frontend developer</div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/instagram-icon.svg" alt="ig icon">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/vk-icon.svg" alt="vk icon">
                    </a>
                </li>
            </ul>

            <div class="profile__text">
                <p>
                    Front-end разработчик. Созданием веб-приложений занимаюсь с 2021 года. Разрабатывал приложения на React, Redux. Также знаком с jQuery.
                </p>
            </div>


        </div>
    </div>

    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">Мои работы</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>